body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0c0c0c;
  color: #fff;
  height: 100vh;
  font-family: 'Cormorant Garamond';
}

.container {
  display: flex;
  height: 200%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  background: #111;
  padding: 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 0.4rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0.4rem;
}



.logo {
  width: 100%;
  margin-bottom: 2%;
}

.sidebar h3 {
  font-size: 1.2rem;
  margin-top: 10%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 5% 0;
}

.filter-zoekbalk {
  width: 100%;
  padding: 5%;
  border-radius: 30px;
  border: none;
  margin-bottom: 2%;
  background: #222;
  color: #fff;
}

.main-content {
  margin-left: 20%;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}



.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5%;
  box-sizing: border-box;

}

.nav-links {
  display: flex;
  gap: 50px;
  margin: 0 auto; 
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.2em;
}

.icons {
  display: flex;
  gap: 10px;
}

.icons i {
  font-size: 2rem;
}


.banner {
  width: 90%;
  margin: 3% auto;
  margin-top: 1%;
}

.banner img {
  width: 100%;
  border-radius: 10px;
}

.desserts {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  margin: 3% auto;
  width: 90%;
  margin-left: 14%;
}

.card {
  background: #1a1a1a;
  border-radius: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 5%;
}

.card-link {
  text-decoration: none;
  color: inherit;
  
}

.card-image {
  position: relative;
  width: 100%;
}

.card-image img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.favorite-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.card h4 {
  font-size: 1rem;
  color: #fff;
  margin: 5px;
  padding: 5%;
}

.card p {
  font-size: 0.8rem;
  color: #aaa;
  margin: 0 10px 10px 10px;
  padding: 5%;
}


