body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f9f9f9;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 20%;
    background: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
    margin-top: 3%;
  }
  
  .sidebar h3 {
    margin-top: 20%;
    margin-left: 5%;
  }
  
  .sidebar ul {
    list-style: none;
    padding-left: 0;
  }
  
  .sidebar li {
    margin-bottom: 4%;
    margin-left: 5% ;
  }
  
  .header {
    flex-grow: 1;
    padding: 20px;
  }
  
  .nav {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 40px; 
    padding: 10px 20px;
    margin-left: 20% ;
    margin-bottom: 5%;
    margin-top: 1%;
  }
  
  .nav a {
    margin: 1 5px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-weight: bold;
  }
  
  .nav .icons {
    margin-left: auto;
    display: flex;
    gap: 10px;
  }
  
  .icons {
    font-size: 1.2rem;
  }
  
  .banner {
    background: #f1e7dd;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .banner-text h2 {
    margin: 0 0 10px;
    color: #442c2e;
  }
  
  .desserts {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 5%;
    margin-left: 8%;
  }
  
  .card {
    background:#ddd;
    border-radius: 8px;
    padding: 15px;
    width: 25%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .card h4 {
    margin: 10px 0 5px;
  }
  
  .card p {
    color: #666;
    font-size: 0.9em;
  }
  
  .filter-zoekbalk {
    width: 90%;
    padding: 6px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;

  }
  
  .material-icons {
    vertical-align: middle;
    margin-left: 10px;
  }
  