* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: black;
  padding: 2rem;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  background: transparent; 
}

.logo {
  height: 80px;
  width: auto;
}


h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #333;
}

.card {
  display: flex;
  flex-direction: row;
  background: #1a1a1a;
  margin-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 40%;
  height: 230px;
  object-fit: cover;
  flex-shrink: 0;
}

.content {
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h2 {
  font-size: 1.8rem;
  color: 	#7B2E44;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;  
}

.content p {
  font-size: 1rem;
  color: white;
  font-family: 'Cinzel', serif;
}

.special {
  background: linear-gradient(135deg, #ffe259, #ffa751);
  color: white;
}

.special .content h2 {
  color: white;
}


.leesMeer {
  margin-top: auto;           
  align-self: flex-end;      
  background-color: #7B2E44; 
  color: white;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 0.5rem;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.leesMeer:hover {
  background-color: #a6425a;  
}

.speciaalKnop {
  background-color: #EEC170; 
  color: #4B1E2F;            
  font-weight: bold;
}

.speciaalKnop:hover {
  background-color: #f5d492; 
}
